<div class="container">
    <div class="row pricesList">

        <div class="col-md-4 col-sm-6 col-xs-12 paymentPlan">
            <div class="planContent">
                <div class="planHeader">
                    <div class="price-value">
                        <p>
                            <span>9.99&euro;</span>
                        </p>
                    </div>
                    <div class="price-period">
                        <p>
                            <span>mo</span>
                        </p>
                    </div>
                </div>
                <div class="planBody">
                    <h3>Software</h3>
                    <ul class="planFeatures">
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>Monthly Subscription</li>
                    </ul>
                </div>
                <div class="planFooter">
                    <button class="btn btn-info" ng-click="selectPlan(0)">Select Plan</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 paymentPlan">
            <div class="planContent">
                <div class="planHeader">
                    <div class="price-value">
                        <p>
                            <span>14.99&euro;</span>
                        </p>
                    </div>
                    <div class="price-period">
                        <p>
                            <span>mo</span>
                        </p>
                    </div>
                </div>
                <div class="planBody">
                    <h3>Reports</h3>
                    <ul class="planFeatures">
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>Monthly Subscription</li>
                    </ul>
                </div>
                <div class="planFooter">
                    <button class="btn btn-info" ng-click="selectPlan(1)">Select Plan</button>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 paymentPlan">
            <div class="planContent">
                <div class="planHeader">
                    <div class="price-value">
                        <p>
                            <span>89.99&euro;</span>
                        </p>
                    </div>
                    <div class="price-period">
                        <p>
                            <span>mo</span>
                        </p>
                    </div>
                </div>
                <div class="planBody">
                    <h3>Software + Reports</h3>
                    <ul class="planFeatures">
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>test</li>
                        <li>Monthly Subscription</li>
                    </ul>
                </div>
                <div class="planFooter">
                    <button class="btn btn-info" ng-click="selectPlan(2)">Select Plan</button>
                </div>
            </div>
        </div>
    </div>
</div>