<footer class="footer">
    <div class="container">
        <div class="row logos">
            <div class="logo">
                <p>
                    powered by
                    <a href="http://fabulous-fi.eu/" target="_blank">
                        <img src="/img/hefast/FABulous_claim_web.png" alt="FAB Logo" class="img-responsive"/>
                    </a>
                </p>
            </div>

            <div class="logo">
                <p>
                    created by
                    <a href="http://bluemind-software.ro/" target="_blank">
                        <img src="/img/hefast/bluemind.png" alt="Bluemind Logo" class="img-responsive blu"/>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row helpText">
        <p class="text-center">
            For help, bug reports or feedback, please send us an e-mail at
            <a href="mailto:feedback@bluemind-software.ro?subject=Hefast Feedback" class="hvr-icon-drop">
                feedback@bluemind-software.ro
            </a>
        </p>
    </div>
</footer>