<div class="row topLogos center-block">
    <img src="/img/hefast/FABulous_claim_web.png" alt="Fabulous Logo" class="fabLogo img-responsive">
    <img src="/img/hefast/hefast.png" alt="Hefast Logo" class="img-responsive hefastLogo">
</div>

<div class="row info">
    <span class="label label-info"><span class="glyphicon glyphicon-exclamation-sign"></span> Useful info</span>

    <h4>Try out this prototype (result of FABulous SML1) using the following accounts:</h4>

    <p class="loginInfo">
        Demo Factory - username:
        <code>demofactorytest@gmail.com</code>
        password:
        <code>demo</code>
    </p>

    <p class="loginInfo">
        Demo Client - username:
        <code>democlienttest123@gmail.com</code>
        password:
        <code>demo</code>
    </p>

    <p>
        <b>
            If you want to use both accounts in the same browser, don't forget to logout at
            <a href="https://account.lab.fiware.org/">https://account.lab.fiware.org/</a>
        </b>
    </p>
</div>

<div class="row loginForm">
    <button onclick='window.location.href="/auth"' class="btn btn-primary btn-lg">Log in with a FI-WARE Account
    </button>

    <span><b>Don't have an account yet?</b></span>
    <a href="/register" class="btn btn-info btn-lg">Register your Factory</a>

    <p>
        <b>Only Factories can register on this page.</b>
        <br/>
        Clients are guided through registration by the Factory page
        <br/>
        (or added by the Factory itself)
    </p>

    <p>The public KeyRock instance is being used. A private one will be used in SML2</p>
</div>