<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div class="container-fluid">
    <img class="img-responsive 404logo" src="./img/hefast/hefast.png"/>
    <h1>404: Webpage not found</h1>
</div>
</body>
</html>