<!DOCTYPE html>
<html lang="en">

<head>
    <% include template/head.ejs %>
    <style>
        body {
            margin: 0; /* Reset default margin */
        }

        iframe {
            display: block; /* iframes are inline by default */
            background: #fff;
            border: none; /* Reset default border */
            height: 100vh; /* Viewport-relative units */
            width: 100vw;
        }
    </style>
</head>

<body>
<iframe id="wirecloud" src="http://130.206.118.116/admin/Hefast%20Dashboard?mode=embedded" frameborder="0"
        scrolling="no" allowfullscreen></iframe>

</body>
</html>